/* "#" references an ID which is used in an HTML element */
#header-h1 {
    background-color: green;
}

/* "." denotes a CSS class that can be used by HTML elements */
.fancy-border {
    border: 3px dashed red;
}

.blue-text {
    color: blue;
}