.container {
    /* Display the flex items in a flexbox */
    /* Can be displayed as a block (flex) or inline (inline-flex) */
    display: flex;

    /* Specifies how and in what order the flex items will be layed out */
    /* Can be layed out in a row or a column */
    flex-direction: row;

    /* Specifies if and how the encapsulated items wrap around one another */
    flex-wrap: wrap;

    /* You can specify both direction and wrap using flex-flow */

    /* Align flex items when they don't use all horizontal spacing */
    justify-content: space-around;

    /* Align flex items when they don't use all vertical spacing */
    /* Aligns flex items with respect to the container */
    align-items: flex-start;

    /* Align flex items when there is extra space vertically and in the flex item wrap */
    /* Aligns flex items with respect to each other along the cross-axis */
    /* Since align-items and align-content both operate on the cross-axis, these will change how each work if used together */
    /* align-content: center; */

    height: 500px;  
    background-color: coral;
}

.container div {
    background-color: lightblue;
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 5px black;
}

.box {
    width: 100px;
    height: 100px;
}

.box2 {
    width: 100px;
    height: 60px;
}